html{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: saddlebrown;
	background-color:lightgoldenrodyellow;


}

h1{font-size: 70px;
	text-align: center;;
}